In [19]:
import pandas as pd
import os
import sys

ROOT_DIR = os.path.abspath(os.path.join(os.getcwd(), '..'))
if ROOT_DIR not in sys.path:
    sys.path.insert(0, ROOT_DIR)

from packages.utils import cloud_cnxn
c_con, c_eng = cloud_cnxn()

In [20]:
# Ensure all schema have same number of columns for game_details
from packages.utils import seasons, season_conversion
seasons = seasons()

all_dfs = []
for season in seasons:
    schema = season_conversion(season)
    temp_df = pd.read_sql_query(f"""select * from "{schema}".game_details where home_pts is not null""", con=c_eng)
    temp_df["schema"] = schema
    print(schema,len(temp_df))
    all_dfs.append(temp_df)
    del temp_df

df = pd.concat(all_dfs, ignore_index=True)
df.set_index("game_id", inplace=True)
df.shape

202122 1323
202223 1320
202324 1318
202425 1321
202526 586

(5868, 29)

In [21]:
# Evaluate data
records = len(df)

def std_officials(officials):
    return "_".join(sorted(officials.split("_")))

df["officials"] = df.officials.apply(lambda x: std_officials(x))

for col in df.columns:
    print(col)
    nulls = df[col].isnull().sum()
    null_pct = round(100 * nulls/records)
    print(f"""Nulls: {nulls}, {null_pct}%  Type:{df[col].dtype}""")
    vc = df[col].value_counts()
    print(vc)
    print()

game_type
Nulls: 0, 0%  Type:object
game_type
Regular Season          5373
Playoffs                 337
Emirates NBA Cup         133
PlayIn                    24
NBA Mexico City Game       1
Name: count, dtype: int64

home_id
Nulls: 0, 0%  Type:object
home_id
1610612738    223
1610612748    209
1610612743    208
1610612744    207
1610612750    207
1610612760    206
1610612754    205
1610612752    205
1610612739    203
1610612742    202
1610612755    198
1610612749    198
1610612756    197
1610612747    196
1610612763    196
1610612740    195
1610612746    192
1610612758    190
1610612761    190
1610612753    190
1610612751    189
1610612741    188
1610612737    188
1610612762    188
1610612765    185
1610612757    184
1610612766    183
1610612764    183
1610612759    182
1610612745    181
Name: count, dtype: int64

away_id
Nulls: 0, 0%  Type:object
away_id
1610612738    218
1610612748    213
1610612743    210
1610612744    210
1610612742    208
1610612750    206
1610612752    204
1610612754    203
1610612760    198
1610612749    198
1610612755    198
1610612737    198
1610612756    197
1610612747    196
1610612763    195
1610612746    195
1610612739    194
1610612753    191
1610612745    190
1610612740    189
1610612758    188
1610612741    188
1610612765    187
1610612766    186
1610612759    186
1610612762    185
1610612751    185
1610612761    185
1610612757    184
1610612764    183
Name: count, dtype: int64

periods
Nulls: 0, 0%  Type:int64
periods
4    5563
5     271
6      32
7       2
Name: count, dtype: int64

officials
Nulls: 0, 0%  Type:object
officials
Gediminas Petraitis_Matt Myers_Tony Brothers        4
Brandon Adair_Brent Barnaky_James Williams          4
Brent Barnaky_Brett Nansel_Kevin Scott              3
Josh Tiven_Marc Davis_Mark Lindsay                  3
Brandon Schwab_Courtney Kirkland_Phenizee Ransom    3
                                                   ..
Matt Kallio_Pat Fraher_Sean Corbin                  1
Nate Green_Scott Twardoski_Zach Zarba               1
Matt Myers_Nick Buchert_Sean Wright                 1
Kevin Cutler_Leon Wood_Mark Lindsay                 1
Ed Malloy_John Conley_Matt Boland                   1
Name: count, Length: 5371, dtype: int64

game_time
Nulls: 0, 0%  Type:datetime64[ns]
game_time
2025-04-13 15:30:00    8
2023-04-09 13:00:00    8
2024-04-14 15:30:00    8
2022-11-25 20:00:00    8
2024-04-14 13:00:00    7
                      ..
2026-01-01 22:00:00    1
2026-01-01 20:30:00    1
2026-01-01 19:00:00    1
2022-04-03 17:00:00    1
2022-04-09 21:30:00    1
Name: count, Length: 3771, dtype: int64

duration
Nulls: 0, 0%  Type:int64
duration
133    268
130    266
131    264
134    255
135    253
      ...
188      1
196      1
193      1
362      1
189      1
Name: count, Length: 82, dtype: int64

lead_changes
Nulls: 0, 0%  Type:int64
lead_changes
0     673
1     512
2     481
4     461
3     455
5     379
6     342
7     341
8     307
9     292
10    255
11    247
12    179
13    171
14    144
15    123
16    104
17     83
19     71
18     65
22     38
20     32
21     22
23     21
24     19
25     15
26      9
28      6
27      6
30      4
32      4
34      1
33      1
41      1
36      1
43      1
29      1
42      1
Name: count, dtype: int64

home_pos
Nulls: 0, 0%  Type:int64
home_pos
100    480
98     477
99     475
97     434
101    426
102    379
96     362
103    359
95     319
94     288
104    283
105    249
93     186
106    172
92     142
107    140
108    113
91      99
109     96
90      71
110     46
112     40
111     38
89      37
113     30
88      22
115     18
114     14
116     12
86      10
87       8
0        6
118      5
124      4
117      4
119      3
125      3
85       3
120      3
121      2
122      2
127      2
126      1
131      1
83       1
73       1
128      1
64       1
Name: count, dtype: int64

away_pos
Nulls: 0, 0%  Type:int64
away_pos
100    467
99     465
101    458
98     439
97     428
102    398
96     369
95     357
103    355
104    285
94     249
105    238
93     208
106    190
92     154
107    141
91      99
108     89
109     80
110     64
90      54
111     45
89      40
113     34
112     34
114     23
88      19
87      12
116     10
115     10
86       7
117      7
85       6
0        6
118      5
120      3
123      3
119      2
124      2
122      2
127      2
121      1
130      1
129      1
71       1
84       1
125      1
126      1
128      1
65       1
Name: count, dtype: int64

home_pts
Nulls: 0, 0%  Type:int64
home_pts
112    195
113    194
110    179
121    178
117    178
      ...
78       1
73       1
175      1
154      1
157      1
Name: count, Length: 81, dtype: int64

away_pts
Nulls: 0, 0%  Type:int64
away_pts
114    210
113    206
111    192
109    181
105    180
      ...
67       1
71       1
162      1
76       1
152      1
Name: count, Length: 87, dtype: int64

home_pitp_a
Nulls: 0, 0%  Type:int64
home_pitp_a
43    324
42    323
40    308
41    295
44    290
47    274
46    267
39    266
45    265
37    244
38    238
48    228
36    221
49    208
50    206
35    200
34    186
51    156
33    133
52    128
53    115
54    111
32    109
55     98
31     80
30     73
29     68
56     59
58     52
28     44
59     44
57     42
61     33
60     27
27     19
26     19
63     17
25     16
24     15
62     12
65     11
64     10
23      8
66      5
22      4
67      4
70      3
69      3
68      2
71      1
76      1
18      1
21      1
78      1
Name: count, dtype: int64

home_pitp_m
Nulls: 0, 0%  Type:int64
home_pitp_m
25    494
23    442
24    432
27    399
22    388
26    386
21    353
28    352
20    347
29    306
19    266
30    265
31    221
18    210
17    182
32    165
33    131
16    101
34     84
15     63
35     62
14     44
36     41
37     36
13     24
38     15
12     14
39     10
11      6
40      6
10      6
41      5
42      5
44      3
43      2
49      1
9       1
Name: count, dtype: int64

away_pitp_a
Nulls: 0, 0%  Type:int64
away_pitp_a
43    312
45    306
41    293
39    291
40    289
42    287
44    281
38    281
46    270
47    245
37    227
36    221
49    209
35    194
48    192
50    191
34    174
51    168
32    128
52    124
53    123
33    119
31    102
54    102
30     86
55     82
56     67
28     66
29     56
58     52
57     49
26     37
27     33
59     30
60     27
61     22
62     20
25     18
63     18
24     14
64      9
23      8
65      8
68      7
21      5
22      4
66      4
69      3
20      3
74      2
67      2
19      1
73      1
80      1
70      1
72      1
18      1
76      1
Name: count, dtype: int64

away_pitp_m
Nulls: 0, 0%  Type:int64
away_pitp_m
23    467
25    450
24    428
22    407
27    401
21    385
26    378
20    340
28    326
19    290
29    283
18    255
30    229
31    194
17    188
32    148
16    122
33     94
34     84
14     71
15     69
35     56
36     44
13     37
37     32
38     22
12     20
11     12
39      9
10      8
41      5
40      5
9       4
43      2
45      1
44      1
42      1
Name: count, dtype: int64

home_bench_pts
Nulls: 0, 0%  Type:int64
home_bench_pts
32     191
34     191
35     180
30     179
33     177
      ...
77       2
74       1
93       1
111      1
82       1
Name: count, Length: 83, dtype: int64

away_bench_pts
Nulls: 0, 0%  Type:int64
away_bench_pts
37    193
30    192
27    183
28    183
35    181
     ...
2       1
79      1
85      1
86      1
99      1
Name: count, Length: 85, dtype: int64

home_longest_run
Nulls: 0, 0%  Type:int64
home_longest_run
10    1038
9      885
11     879
12     692
8      671
13     517
14     322
7      238
15     206
16     144
17      86
18      49
6       41
19      39
20      20
21      15
23      10
22       8
24       5
5        1
30       1
25       1
Name: count, dtype: int64

away_longest_run
Nulls: 0, 0%  Type:int64
away_longest_run
10    1053
9      962
11     852
12     666
8      661
13     459
14     318
7      279
15     224
16     116
17      94
18      51
19      40
6       38
20      18
21      16
23       8
22       8
5        2
24       1
26       1
25       1
Name: count, dtype: int64

home_fb_pts
Nulls: 0, 0%  Type:int64
home_fb_pts
11    372
14    368
13    364
15    349
12    349
16    324
10    321
17    288
8     284
18    280
9     278
19    247
7     229
20    210
6     197
21    185
22    160
5     138
4     136
23    124
24    122
25     82
26     81
2      60
28     52
27     50
29     41
3      35
30     28
0      25
31     21
32     14
33      9
34      9
36      8
35      8
37      5
1       4
46      3
42      2
39      2
43      1
40      1
41      1
38      1
Name: count, dtype: int64

away_fb_pts
Nulls: 0, 0%  Type:int64
away_fb_pts
15    387
12    380
11    367
13    365
14    364
10    363
9     319
16    315
8     305
17    275
18    251
6     242
7     239
19    233
20    177
21    161
4     148
5     138
22    134
23    115
24     86
26     84
2      81
25     67
27     48
28     45
3      39
0      31
29     27
31     20
30     15
32     13
33     10
1       7
34      5
36      4
38      2
41      2
37      2
35      1
39      1
Name: count, dtype: int64

home_pts_from_to
Nulls: 0, 0%  Type:int64
home_pts_from_to
14    376
18    364
15    354
17    343
12    343
19    339
16    334
13    329
20    292
21    280
11    256
10    240
22    232
23    226
9     199
24    184
25    157
8     142
26    104
7     102
27     99
28     95
6      77
29     64
30     58
5      50
4      48
31     43
32     26
3      19
34     18
33     16
36     14
35      9
2       9
37      7
38      7
39      3
40      3
1       2
41      2
0       2
45      1
Name: count, dtype: int64

away_pts_from_to
Nulls: 0, 0%  Type:int64
away_pts_from_to
14    386
17    371
13    366
15    362
16    361
18    336
19    329
12    303
20    302
11    271
21    254
10    240
22    238
9     219
23    180
8     161
24    152
25    141
26    127
7     123
6      99
27     92
28     68
29     63
5      57
4      49
31     43
30     38
32     20
2      19
33     18
34     18
35     16
3      13
37     11
36      6
1       4
40      3
39      3
38      2
0       2
42      1
44      1
Name: count, dtype: int64

home_2nd_chance_pts
Nulls: 0, 0%  Type:int64
home_2nd_chance_pts
13    409
12    398
14    396
16    390
11    377
15    358
10    345
17    332
9     328
8     299
18    265
19    242
7     218
6     213
20    203
21    186
22    142
4     118
23    116
5      95
24     81
25     62
26     53
3      43
27     38
2      38
28     22
29     21
30     15
33     13
0      12
32     12
31      7
1       6
34      5
35      5
36      3
37      1
38      1
Name: count, dtype: int64

away_2nd_chance_pts
Nulls: 0, 0%  Type:int64
away_2nd_chance_pts
12    409
11    406
15    402
13    397
14    370
10    364
8     336
16    327
9     318
17    300
18    281
7     237
19    219
6     206
20    198
21    192
4     138
22    134
5     117
23     96
24     88
25     74
26     47
2      43
3      40
27     28
28     20
0      15
30     15
29     13
32      9
31      9
1       6
33      4
34      3
35      2
36      2
39      1
37      1
41      1
Name: count, dtype: int64

home_technical_fouls
Nulls: 0, 0%  Type:int64
home_technical_fouls
0    4110
1    1341
2     343
3      56
4      12
5       6
Name: count, dtype: int64

away_technical_fouls
Nulls: 0, 0%  Type:int64
away_technical_fouls
0    4244
1    1273
2     267
3      75
4       7
5       2
Name: count, dtype: int64

schema
Nulls: 0, 0%  Type:object
schema
202122    1323
202425    1321
202223    1320
202324    1318
202526     586
Name: count, dtype: int64

In [22]:
# Officals combinations of three happen surpisingly infrequently, with 4 occurrences being the maximum
# Start with what they have direct control over: fouls
with open(f"{ROOT_DIR}/scripts/officials.sql", "r") as f:
    base_sql = f.read()

all_dfs = []
for season in seasons:
    schema = season_conversion(season)
    sql = base_sql.replace('"202526"', f'"{schema}"')
    fouls = pd.read_sql_query(sql, con=c_eng)
    print(schema,len(fouls))
    fouls["season"] = season
    all_dfs.append(fouls)
    del fouls

df_fouls = pd.concat(all_dfs, ignore_index=True)
df_fouls.shape

202122 1323
202223 1320
202324 1318
202425 1321
202526 586

(5868, 14)

In [23]:
df_fouls.columns

Index(['game_id', 'home_id', 'away_id', 'officials', 'duration', 'home_fouls',
       'away_fouls', 'fouls_diff', 'fouls_total', 'home_fta', 'away_fta',
       'fta_diff', 'fta_total', 'season'],
      dtype='object')

In [24]:
# Establish baselines
# Use PRE-EXPLODED data
home_pf_base = df_fouls.groupby("home_id")["home_fouls"].mean()  # Average fouls for home teams
away_pf_base = df_fouls.groupby("away_id")["away_fouls"].mean()  # Average fouls for away teams

home_ft_base = df_fouls.groupby("home_id")["home_fta"].mean()  # Average free-throw attempts for home teams
away_ft_base = df_fouls.groupby("away_id")["away_fta"].mean()  # Average free-throw attempts for away teams

# Pursue duration later
#duration_base = (df_fouls.groupby("game_id")["duration"].mean())  # Average game duration

In [25]:
# Officals combinations of three happen surpisingly infrequently, with 4 occurrences being the maximum
# Start with what they have direct control over: fouls
# Some games have four officials, so it's not necessarily df_fouls X 3!!!
df_refs = df_fouls.copy()
df_refs["officials"] = df_refs["officials"].str.split("_")  # Converts string into a list of officials
df_refs = df_refs.explode("officials")                      # Rows are duplicated for each official
df_refs.shape

(17804, 14)

In [26]:
df_refs["expected_fouls"] = df_refs["home_id"].map(home_pf_base) + df_refs["away_id"].map(away_pf_base)
df_refs["fouls_residual"] = df_refs["home_fouls"] + df_refs["away_fouls"] - df_refs["expected_fouls"]

df_refs["expected_fta"] = df_refs["home_id"].map(home_ft_base) + df_refs["away_id"].map(away_ft_base)
df_refs["fta_residual"] = df_refs["home_fta"] + df_refs["away_fta"] - df_refs["expected_fta"]

df_refs.head()

,game_id,home_id,away_id,officials,duration,home_fouls,away_fouls,fouls_diff,fouls_total,home_fta,away_fta,fta_diff,fta_total,season,expected_fouls,fouls_residual,expected_fta,fta_residual
0,0022101137,1610612754,1610612743,Tony Brothers,134,21,20,1,41,23,14,9,37,2021-22,39.291754,1.708246,43.007201,-6.007201
0,0022101137,1610612754,1610612743,Brian Forte,134,21,20,1,41,23,14,9,37,2021-22,39.291754,1.708246,43.007201,-6.007201
0,0022101137,1610612754,1610612743,Jonathan Sterling,134,21,20,1,41,23,14,9,37,2021-22,39.291754,1.708246,43.007201,-6.007201
1,0022100663,1610612742,1610612760,James Williams,133,19,23,-4,42,28,24,4,52,2021-22,39.325433,2.674567,45.824232,6.175768
1,0022100663,1610612742,1610612760,Mitchell Ervin,133,19,23,-4,42,28,24,4,52,2021-22,39.325433,2.674567,45.824232,6.175768